.red{ 
    background-color: red;
    color: seashell;
}
.neon{

background-color: cornflowerblue;

}

.m{ background-color: darkkhaki;}
.n{ background-color: darkslateblue; color: yellow;}
.o{  background-color: teal; color: white;}
.l{   background-color: turquoise;color: yellow;}

.t{background-color: violet; color: purple;}

.s{background-color: springgreen;}
.b{ background-color:greenyellow }
.y{ background-color: yellow;}